@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');
*, *:after, *:before{
  margin: 0;
  list-style:none;
  text-decoration: none;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  box-sizing: inherit;
  background-color: #36243b;
  width: 100vw;
  overflow-x: hidden;
  min-height: 150vh;
  scroll-behavior: smooth;
}
button, button:active, button:focus, input, input:active, input:focus{
  outline: none!important;
  border: none!important;
  cursor: pointer;
}

/************************************************/
h1,h2,button{
  font-family: 'Bebas Neue', sans-serif;
  color: white;
}
p,input,a{
  font-family: 'Roboto', sans-serif;
  color: white;
}